.stats-container {
    text-align: center;
}
.stat {
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
}
.following-stat{
        padding: 5px;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
}