.share-post{
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 10px;
}
.container{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px;
    max-width: 550px;
    border: 5px solid #3a416e;
    border-radius: 5px;
}