.card {
  box-shadow: 0 4px 8px 0 rgba(5,5,5,5.2);
  transition: 0.3s;
  width: 100%;
  max-width: 500px;
  height: 50%;
  margin: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(5,5,5,5.2);
}

.container {
  padding: 2px 16px;
}
 
 hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
.item {
    border:1px solid pink;
    width: 120px;
    float: left;
    margin: 3px;
    padding: 3px;
}

p{
 word-wrap:break-word;
}